$bgcolor: #1B1B1B;
$secondary: #C93A27;
$gray: #4B4B4B;

.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.bg-gray {
  background-color: $gray;
}

.btn {
  color: white;
  background-color: $secondary;
  padding: 10px 50px;
  border: none;
  font-size: 20px;

  &:hover {
    background-color: darken($secondary, 10%);
    cursor: pointer;
  }
}

.left {
  border-right: white solid 2px;
  display:flex;
  width:20%;
  justify-content: center;
}

.left button {
  margin-top: 50px;
}

.right {
  width: 80%;
}

.right-top {
  height: 50%;
}

input {
  height: 5vh;
  width: 95%;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}

textarea {
  height: 30vh;
  width: 95%;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}
